.topnav-wrap {
  position: absolute;
  top: 0;
  z-index: 1;

  background-color: rgba(255, 255, 255, 0.5);
  height: 70px;
  width: 100%;
  backdrop-filter: blur(30px) saturate(180%);
  transition: all .3s;
  
  .nav-ul{
    list-style: none;

    display: grid;
    grid-template-columns: repeat(4, 120px);

    text-align: center;

    li{
      
    }
  }
}

.topnav-wrap.is-Fixed-nav{
  position: fixed;
  top: 0;
  z-index: 99;

  transition: all .3s;

  animation: topToDown .3s;
}


@keyframes topToDown {
  from {
    top: -70px;
  }

  to {
    top: 0;
  }
}